.containerr{
    
    height: 80vh;
    
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 10px 10px 10px 0 rgba(91, 86, 86, 0.2);
   
}

.heading{
    font-size: 40px;
    
    font-weight: bold;
    position: relative;
    bottom: 80px;
    
}

.form{
    
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   position: relative;
   bottom: 40px;
   top: -60px;
   gap: 30px;
   
    
    
}
.form input{
    width: 250px;
    height:50px;
    padding-left: 10px;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: 500;

}

.form input:hover{
    box-shadow: 10px 10px 10px 0 rgba(91, 86, 86, 0.2);
}

.submit{
    
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    bottom: 40px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    font-weight: bold;
    transition: 0.3s;
    color: black;
}

.submit:hover{
    background-color: blue;
    color: white;
    box-shadow: 10px 10px 10px 0 rgba(91, 86, 86, 0.2);
}

.link{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    bottom: 20px;
    border: 0px solid black;
    border-radius: 10px;
    background-color: white;
    font-weight: bold;
}

